@import url("reset.css");

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 20px;

  max-width:600px;
  width: 100%;

  background-color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  font-weight: 300;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
  font-weight: 300;  
  font-style: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;  
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

p {
  margin-bottom: 20px;
}

pre {
  margin-bottom: 20px; 
}

strong {
  font-family: 'Merriweather', serif;
  font-size: 17px;
  font-style: bold;
}

/*
  ========================================
  Layout
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: #2c7bb5;
}

header {
  background-color: #7cab47;
  width: 100%;
  height: 140px;
  float: left;  
}

h1.title {
  margin-top: 60px;
  margin-left: 40px;
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 50px;
}

#selected {
  color: black;
}

.main-text {
  margin-top: 90px;
}

.footinfo {
  background-color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  font-weight: 300;

  padding-left: 230px;
  padding-top: 30px;    
}

/* ================ TOP PROCESSING MENU ================== */

nav.topnav {
  width: 100%;
  height: 46px;
  background-color: #666666;
  font-size: 14px;
  font-family: 'Merriweather', serif;
  background: linear-gradient(to bottom, #8b8c90, #99999a);    
}

nav.topnav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav.topnav ul.left {
  float: left;
}

nav.topnav ul.right {
  float: right;
}

nav.topnav ul li {
  display: inline-block;
  margin: 0;
  padding: 12px 10px 12px 10px;
  list-style: none;
}

nav.topnav ul li a {
  color: #C1C1C1;
}

/* ================ SITE NAVIGATION ================== */

img.logo {
  display: block;
  width: 92px;
  padding: 0px;
  margin-left: -15px;
  margin-bottom: 20px
}

nav.site {
  float: left;
  margin-top: 45px;
  margin-left: 40px;
  width: 150px;
  line-height: 30px;
  font-family: 'Merriweather', serif;
}


@media screen and (max-width: 860px) {
  /* Config when the width of the screen is less than 860 */
  .logo {
    float: left; 
    margin-right: 15px;
    margin-bottom: 0px;
  }

  nav.site {    
    width: 100%;
  }

  nav.site ul {
    margin-top: 30px;
  }

  nav.site ul li {
    display: inline-block;
    padding-left: 5px; 
    padding-right: 5px; 
    list-style: none;
  } 

  .container {
    padding-left: 80px;
    padding-right: 20px;
  }

  .main-text {
    margin-top: 30px;
  }

  .footinfo {
    padding-left: 80px;
  }
}

@media screen and (max-width: 650px) {
  nav.topnav {
    font-size: 8px;
    height: 34px;
  }
  nav.topnav ul li {
    padding: 6px 5px 6px 5px;

  }
}

@media screen and (max-width: 630px) {
   h1.title {
    margin-top: 60px;
    font-size: 40px;
  }   
}

@media screen and (max-width: 500px) {
   h1.title {
    margin-top: 10px;
    font-size: 40px;
    line-height: 1.5;
  } 
}

/* ================ SITE STYLE ================== */

small {
  font-size: 85%;
}

section {
  float: left;
  margin: 0 1.5%;
}

body {
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code {
  font-family: monospace, "Courier New", Courier;
}

sup { 
  vertical-align: super;
  font-size: smaller;
}

b {
    font-weight: bold;
}

.body-image {
  max-width: 480px;  
  display: block;
  margin-left: auto;
  margin-right: auto;  
  /*margin: 0 auto*/
}

.butterbar {
  font-size: 120%;
  line-height: 135%;
  padding: 1em;
  background: #DEFFBC;
  border: 1px solid #94C125;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
}


/*
  ========================================
  Lists
  ========================================
*/

ul {
  display: block;
  list-style: disc;
  padding-left: 12px;
}

ol {
  display: block;
  list-style: decimal;
  padding-left: 12px;  
}

ul.leftnav {
  margin-left: -5px;
  list-style: none;
}

/* ================ REFERENCE ================== */

#Reference .curated-item p { padding-right: 14px; }

/* ================ TUTORIALS ================== */

#Tutorials .curated-item p { padding-right: 14px; }
