@import url("reset.css");

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-style: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

p {
  margin-bottom: 20px;
}

pre {
  margin-bottom: 20px;
}

strong {
  font-family: 'Merriweather', serif;
  font-size: 17px;
  font-style: bold;
}

/*
  ========================================
  Layout
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: #2c7bb5;
}

header {
  /* Fixed below the top navigation menu */
  position: fixed;
	top: 46px;
	left: 0;
	z-index: 2;

  background-color: #86A346;
  width: 100%;
  height: 140px;
  float: left;
}

h1.title {
  max-width: 720px;
  width: 100%;
  margin-top: 60px;
  margin-left: 150px;
  text-align: center;
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 50px;
}

.container {
  /* Configuration when the header and the site naviation are fixed */
  margin-left: 150px;
  margin-top: 186px;
  margin-right: 0;
  margin-bottom: 0;

  max-width: 720px;
  width: 100%;
  padding: 80px 20px 20px 60px;
  background-color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  font-weight: 300;
}

.footinfo {
  margin-left: 150px;
  max-width: 720px;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  font-weight: 300;
}

#selected {
  color: black;
}

/*
  ========================================
  Top menu
  ========================================
*/

nav.topnav {
  position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

  width: 100%;
  height: 46px;
  background-color: #666666;
  font-size: 14px;
  font-family: 'Merriweather', serif;
  background: linear-gradient(to bottom, #8b8c90, #99999a);
}

nav.topnav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav.topnav ul.left {
  float: left;
}

nav.topnav ul.foundation {
  float: right;
}

nav.topnav ul li {
  display: inline-block;
  margin: 0;
  padding: 12px 10px 12px 10px;
  list-style: none;
}

nav.topnav ul li a {
  color: #C1C1C1;
}

/*
  ========================================
  Navigation menu
  ========================================
*/

img.logo {
  display: block;
  width: 92px;
  padding: 0px 0px 20px 0px;
}

nav.site {
  position: fixed;
	top: 186px;
	left: 0;
	z-index: 2;

  float: left;
  width: 150px;
  padding: 40px 20px 20px 30px;
  line-height: 30px;
  font-family: 'Merriweather', serif;
}

ul.leftnav {
  margin-left: 10px;
  list-style: none;
}

/*
  ========================================
  Language selector
  ========================================
*/

.lang {
  float: right;

  line-height: 30px;
  font-family: 'Merriweather', serif;   
}

/*
  ========================================
  Site Style
  ========================================
*/

small {
  font-size: 85%;
}

section {
  float: left;
  margin: 0 1.5%;
}

body {
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code {
  font-family: monospace, "Courier New", Courier;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

b {
    font-weight: bold;
}

.body-image {
  max-width: 480px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body-image-portrait {
  max-height: 480px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.butterbar {
  font-size: 120%;
  line-height: 135%;
  padding: 1em;
  background: #DEFFBC;
  border: 1px solid #94C125;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
}

/*https://longren.io/wrapping-text-inside-pre-tags/*/
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*
  ========================================
  Lists
  ========================================
*/

ul {
  display: block;
  list-style: disc;
  padding-left: 12px;
}

ol {
  display: block;
  list-style: decimal;
  padding-left: 12px;
}

/*
  ========================================
  Media queries
  ========================================
*/

@media screen and (max-width: 870px) {
  /* Config when the width of the screen is less than 860 */

  header {
    position: relative;
  	top: 0;
  	left: 0;
  	z-index: auto;
  }

  img.logo {
    float: left;
    margin-right: 15px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }

  nav.topnav {
    position: relative;
  	top: 0;
  	left: 0;
  	z-index: auto;    
  }

  nav.site {
    position: relative;
  	top: 0;
  	left: 0;
  	z-index: auto;

    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  nav.site ul.leftnav {
    margin-top: 30px;
  }

  nav.site ul li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    list-style: none;
  }

  .container {
    margin: 0 auto;
    width: 100%;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 20px;
  }

  h1.title {
    width: 100%;
    margin-left: 0px;
    padding-left: 10%;
    padding-right: 5%;
  }

  .footinfo {
    width: 100%;
    padding-left: 10%;
    padding-right: 5%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 747px) {
  nav.site ul.leftnav {
    margin-top: 18px;
  }
}

@media screen and (max-width: 672px) {
  h1.title {
    margin-top: 13px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 582px) {
  nav.topnav {
    height: 40px;
    font-size: 10px;
  }
  nav.topnav ul li {
    padding: 8px 5px 8px 5px;
  }
}

@media screen and (max-width: 459px) {
  nav.site ul.leftnav {
    margin-top: 4px;
  }
}

@media screen and (max-width: 355px) {
  nav.site ul.leftnav {
    margin-top: -12px;
  }
}

@media screen and (max-width: 395px) {
  nav.topnav {
    height: 35px;
    font-size: 8px;
  }
  nav.topnav ul li {
    padding: 6px 4px 6px 4px;
  }
}

@media screen and (max-width: 350px) {
  h1.title {
    margin-top: 25px;
    font-size: 40px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 317px) {
  nav.topnav ul.foundation {
    float: left;
  }
  nav.topnav {
    height: 70px;
  }  
}

@media screen and (max-width: 281px) {
  h1.title {
    margin-top: 18px;
    font-size: 30px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 219px) {
  nav.topnav {
    height: 105px;
  }  
}

@media screen and (max-width: 139px) {
  nav.topnav {
    height: 140px;
  } 
